

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-size: calc(10px + 2vmin); */
    color: #eee;
    font-size: calc(8px + 0.7vmin); 
    /* font-family: Verdana; */
    /* font-weight: 300; */
    /* line-height: 1.5em; */
}

.App a:link {
    color:#18b26f;
    text-decoration: none;
    /* color: #028ec6; */
    /* color:#68d3ff; */
}

.hidden-link {
    color: #282c34;
    text-decoration: none;
    /* color: #028ec6; */
    /* color:#68d3ff; */
}

.App a:visited {
    /*color:#3e84f2;*/
    color:#18b26f; 
    /* color: #028ec6; */
    /* color:#00b6ff; */
    /* color:#68d3ff; */
}

.App a:active {
    /*color:#3e84f2;*/
    color:#3e84f2;
    /* color:#18ee18;  */
    /* color: #028ec6; */
    /* color:#00b6ff; */
    /* color:#68d3ff; */
}

.App a:hover {
    /* color:#3e84f2; */
    /* color:#18ee18;  */
    /* color:#18ee18;  */
    /* color: #028ec6;  */
    /* color:#00b6ff;  */
    /* color:#68d3ff;  */
}

.fieldEdit {
    color: #18b26f!important;
    color: #3e84f2!important;
    color: #2982d2!important;
    padding-top:0px!important;
    padding-right:0px!important;
    padding-left:0px!important;
    padding-bottom:0px!important;
    /* text-align:left; */
    font-size: calc(8px + 0.7vmin)!important;
}

.fieldSign {
    /* color: #282c34!important; */
    padding-top:0px!important;
    padding-right:0px!important;
    padding-left:0px!important;
    padding-bottom:0px!important;
    /* width:0.5em; */
    font-size: calc(8px + 0.7vmin)!important;
    /* text-align: center; */
}

.fieldEdit::selection {
    background: #282c34;
}

.field {
    /* color: #3e84f2!important; */
    padding-top:0px!important;
    padding-right:0px!important;
    padding-left:0px!important;
    padding-bottom:0px!important;
    font-size: calc(8px + 0.7vmin);
}

.area {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.dungeon {
    text-align: left;
}

.map-img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: auto;
    /* filter: grayscale(100%); */
}

.layout {

}

button {
    background:none;
    text-decoration: none;
    color:#18b26f; 
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

button:active{
    color:#3e84f2;
    border:none;
    outline:0;
    text-decoration: none;
}

.dice-test-help {
    color: #777;
    font-size: calc(6px + 0.9vmin)!important;
}

.dice-test-help-hide {
    font-size: calc(6px + 0.9vmin)!important;
    color:#282c34;
}

.help-popover {
    margin-left:15px;
    color: #aaa;
    max-width: 30vh;
    font-size: calc(5px + 0.9vmin);
}

.dice-panel {
    min-width: 30vh;
    max-width: 30vh;
    min-height: 25vh;
    background-color: #282c30;
    /* border-right:1px solid; */
    font-size: calc(8px + 0.9vmin);
    /* padding-top: 20px; */
    /* padding: 1px 0px; */
    /* border-bottom: 1px solid; */
    border-color:#1B1E23;
    /* background-color: #682c34; */
    text-align: center;
}

.dice-panel2 {
    text-align: center;
    /* padding-right:1em; */
}

.combat-layout {
    text-align: left;
    padding-right:1em;
    padding-left:1em;
    /* border-top: 1px solid; */
}

.topbar {
    /* background-color: #2c34; */
    /* box-shadow: 'none'; */
    /* text-align: left; */
    /* padding-right:1em; */
    /* padding-left:1em; */
    border-bottom: 1px solid;
    border-color:#1B1E23;
}

.combat-layout-actions {
    text-align: left;
    padding-right:1em;
    padding-left:1em;
    border-top: 1px solid;
    border-color:#1b1e23;
}

.combat-actions {
    text-align: center;
}

.combat-status {
    text-align: left;
}

.combat-steps {
    text-align: left;
}

.help {
    margin-left:15px;
    color: #aaa;
    max-width: 30vh;
    font-size: calc(5px + 0.9vmin);
    white-space: pre-line;
}

.table-header {  
    border-bottom:1px!important;
    /* border-bottom-color:#18b26f!important; */
    border-bottom-style:solid!important;
}

.log {
    font-size: calc(8px + 0.7vmin);
    scrollbar-width: 'thin';
    box-shadow: none!important;
}

.log-div {
    border-top: 1px; 
    border-top-style: solid;
    border-color:#1b1e23;
}

.exptrack-icon {
    /* width: 1.5ch;  */
    /* height: 1.5ch;  */
    border-radius: 50%;
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;
}

.slider {
    padding-top:0px!important;
    padding-bottom:0px!important;
}

.slider-rail{
    background-color: #FFF!important;
}

.slider-track{
    background-color: #3e84f2!important;
}

.slider-mark-active{
    background-color: #1b1e23!important;
}

.slider-value-label{
    color: #1b1e23!important;
    
}

.slider-thumb{
    color: #3e84f2!important; /* bullet */
}

.slider-up{
    /* font-size: 1ch; */
    height: 0.4em!important;
}

.hide {
    color: transparent;
}

